<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
     
      <div class="credits ml-auto">
        <span class="copyright">
          © <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
        </span>
      </div>
    </div>
  </div>
</footer>
</div>
</div>

<!--   Core JS Files   -->
<script src="<%=baseurl %>/javascripts/jquery.js"></script>
<script src="<%=baseurl %>/javascripts/jquery.form.js"></script>
<script src="<%=baseurl %>/javascripts/datatables.min.js"></script>
<script src="<%=baseurl %>/theme/assets/js/core/popper.min.js"></script>
<script src="<%=baseurl %>/theme/assets/js/core/bootstrap.min.js"></script>
<script src="<%=baseurl %>/theme/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Chart JS -->
<script src="<%=baseurl %>/theme/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="<%=baseurl %>/theme/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="<%=baseurl %>/theme/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="<%=baseurl %>/theme/assets/demo/demo.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  $(document).ready(function() {
    $('#example,#example2').DataTable({
      "bSort": true,
      "scrollX": true,
      "pageLength": 5,
    });
  });
</script>
</body>

</html>