<% var action = "login"; %> 
<% include ./header %>
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
        <div class="container">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto login_main_container">
            <form class="form" method="POST" id="login" action="./login">
              <div class="card card-login">
                <div class="card-header ">
                  <div class="card-header ">
                    <h3 class="header text-center">Login</h3>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" name="email" class="form-control" placeholder="Username/Email">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                    </div>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                  <br />
                 
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-warning btn-round btn-block mb-3">Login</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
 <% include ./footer %>
 <script>
   $("#login").submit(function(e){
        $.ajax({
          url: "./login",
          data: $(this).serialize(),
          type: 'POST',
          success: function(data){
            if(data.status == 200){
              Toastify({
                text: data.message,
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                className: "info",
              }).showToast();

              setTimeout(function(){ 
                window.location = "<%=baseurl %>/admin";
              },1000);

          }else{
            Toastify({
                text: data.message,
                backgroundColor: "linear-gradient(to right, #ff7700, #ff5500)",
                className: "danger",
              }).showToast();
          }
          }
        });

        e.preventDefault();
   });
 </script>