<% include ../header %> 
<!-- End Navbar -->
<div class="content">

   <div class="row">
     <div class="col-md-12">
       <div class="card ">
         <div class="card-header ">
           <h5 class="card-title">Add New Pump Details</h5>
           <p class="card-category">24 Hours performance</p>
         </div>
         <div class="card-body ">
           
            <form action="<%=baseurl %>/admin/pump" method="POST" id="addpump" enctype="multipart/form-data">
            
                <div class="form-group">
                    <input type="text" name="title" placeholder="Enter Pump/Gas Station Title" class="form-control">
                </div>

                <div class="pac-card" id="pac-card">
                  <div>
                    
                  </div>
                  <div id="pac-container" class="form-group">
                    <input id="pac-input" name="location" class="form-control" type="text" placeholder="Enter a location" />

                    <input type="hidden" name="lat">
                    <input type="hidden" name="lng">

                  </div>
                </div>
                <div id="map"></div>
                <div id="infowindow-content">
                  <img src="" width="16" height="16" id="place-icon" />
                  <span id="place-name" class="title"></span><br />
                  <span id="place-address"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="mr-2">Upload Photos of Your Gas Station:</label>
                    <input type="file" style="opacity: 1;position: relative;" name="image" class="form-control">
                  </div>

                  <button class="btn btn-primary" type="submit">
                    Save
                  </button>

            </form>

         </div>
         <div class="card-footer ">
           <hr>
           <div class="stats">
             <i class="fa fa-history"></i> Updated 3 minutes ago
           </div>
         </div>
       </div>


       <div class="card">

        <div class="card-header ">
          <h5 class="card-title">List All Gas Stations</h5>
         
        </div>

        <div class="card-body">

          <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Titlee</th>
                    <th>Address</th>
                    <th>Actions</th>

            
                </tr>
            </thead>
            <tbody>
              <% for(i=0;i<pumps.length;i++){ %>
              <tr>
                <td><%=i+1 %></td>
                <td><%=pumps[i].title %></td>
                <td><%=pumps[i].address %></td>
                <td><button class="btn btn-danger delete_pump" data-id="<%=pumps[i].id %>"> Delete</button></td>
              </tr>
            <% } %>

            </tbody>
          </table>

        </div>

       </div>

     </div>
   </div>
 
 </div>
 
<% include ../footer %>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2RQK6774jlJIuIAnbZGaJw17CrM6DYdQ&callback=initMap&libraries=places"
      defer
    ></script>
<script>

function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    center: {
      lat: -33.8688,
      lng: 151.2195
    },
    zoom: 13
  });
  const card = document.getElementById("pac-card");
  const input = document.getElementById("pac-input");
  map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
  const autocomplete = new google.maps.places.Autocomplete(input); // Bind the map's bounds (viewport) property to the autocomplete object,
  // so that the autocomplete requests use the current map bounds for the
  // bounds option in the request.

  autocomplete.bindTo("bounds", map); // Set the data fields to return when the user selects a place.

  autocomplete.setFields(["address_components", "geometry", "icon", "name"]);
  const infowindow = new google.maps.InfoWindow();
  const infowindowContent = document.getElementById("infowindow-content");
  infowindow.setContent(infowindowContent);
  const marker = new google.maps.Marker({
    map,
    anchorPoint: new google.maps.Point(0, -29)
  });
  autocomplete.addListener("place_changed", () => {
    infowindow.close();
    marker.setVisible(false);
    const place = autocomplete.getPlace();

    if (!place.geometry) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input: '" + place.name + "'");
      return;
    } // If the place has a geometry, then present it on a map.

    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17); 
    }

    $("input[name=lat]").val(place.geometry.location.lat());
    $("input[name=lng]").val(place.geometry.location.lng());

    marker.setPosition(place.geometry.location);
    marker.setVisible(true);
    let address = "";

    if (place.address_components) {
      address = [
        (place.address_components[0] &&
          place.address_components[0].short_name) ||
          "",
        (place.address_components[1] &&
          place.address_components[1].short_name) ||
          "",
        (place.address_components[2] &&
          place.address_components[2].short_name) ||
          ""
      ].join(" ");
    }

    infowindowContent.children["place-icon"].src = place.icon;
    infowindowContent.children["place-name"].textContent = place.name;
    infowindowContent.children["place-address"].textContent = address;
    infowindow.open(map, marker);
  }); // Sets a listener on a radio button to change the filter type on Places
  // Autocomplete.

  function setupClickListener(id, types) {
    const radioButton = document.getElementById(id);
    radioButton.addEventListener("click", () => {
      autocomplete.setTypes(types);
    });
  }

  setupClickListener("changetype-all", []);
  setupClickListener("changetype-address", ["address"]);
  setupClickListener("changetype-establishment", ["establishment"]);
  setupClickListener("changetype-geocode", ["geocode"]);
  document
    .getElementById("use-strict-bounds")
    .addEventListener("click", function() {
      console.log("Checkbox clicked! New state=" + this.checked);
      autocomplete.setOptions({
        strictBounds: this.checked
      });
    });
}


$(document).ready(function() { 
    var options = { 
        success:       showResponse, 
    }; 
 
    // bind form using 'ajaxForm' 
    $('#addpump').ajaxForm(options); 


    function showResponse(responseText, statusText, xhr, $form)  { 

        if(responseText.status == 200){

          Toastify({
                text: responseText.message,
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                className: "info",
              }).showToast();

              refreshPage();

        }else{

          if(typeof(responseText.message) == "object"){

            $.each(responseText.message,function(key,value){

              Toastify({
                text: value.message,
                backgroundColor: "linear-gradient(to right, #ff7700, #ff5500)",
                className: "danger",
              }).showToast();
            
            });

          }else{

          Toastify({
                text: responseText.message,
                backgroundColor: "linear-gradient(to right, #ff7700, #ff5500)",
                className: "danger",
              }).showToast();

          }
      }
    
    }


    $(".delete_pump").click(function(){

        var id = $(this).data("id");
        if(confirm("Are you sure you want to delete this?")){
          $.ajax({
            url: '<%=baseurl%>/admin/pump/'+id,
            type: 'DELETE',
            success: function(data){
              Toastify({
                text: data.message,
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                className: "info",
              }).showToast();

              refreshPage();

            }
          })
        }
    });

    function refreshPage(){
      setInterval(function(){
          location.reload();
      }, 2000);
    }
}); 

</script>